{% extends 'base.html.twig' %}

{% block body %}
    <h1>Projet edit</h1>

    {{ form_start(edit_form) }}
    <div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-2">
                <label  style="margin-top:25%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" >{{ form_label(edit_form.titreProjet) }}</label>
                {{ form_widget(edit_form.titreProjet) }}
            </div>
            <div class="col-xs-2">

                <label  style="margin-top:25%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" >{{ form_label(edit_form.client) }}</label>
                {{ form_widget(edit_form.client, { 'attr': {'class': 'foo'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-2">

                <label  style="margin-top:25%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" >{{ form_label(edit_form.produit) }}</label>
                {{ form_widget(edit_form.produit, { 'attr': {'class': 'foo'} }) }}
            </div>
            <div class="col-xs-2">

                <label  style="margin-top:25%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" >{{ form_label(edit_form.marque) }}</label>
                {{ form_widget(edit_form.marque, { 'attr': {'class': 'foo'} }) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-2">

                <label  style="margin-top:25%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" >{{ form_label(edit_form.nomGraphiste) }}</label>
                {{ form_widget(edit_form.nomGraphiste, { 'attr': {'class': 'foo'} }) }}


            </div>
            <div class="col-xs-2">

                <input style="margin-top:35%;margin-left:15%;" for="elevenmxbundle_projet_titreProjet" type="submit" value="Edit" />
            </div>

        </div>
        <div class="row">
            <div class="col-xs-offset-4 col-xs-2">



            </div>
            <div class="col-xs-2">


            </div>

        </div>

    </div>


    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
