{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="projet_h1">Liste de vos projet</h1>

    <table class="projet_index_table1">
        <thead>

        </thead>

        <tbody>
        {% for projet in projets %}
            <tr>



                    <div class="container-fluid">

                        <div class="row" >
                            <a  class="">

                                <div id="projet_ligne_aff" class="col-xs-offset-1 col-xs-10" >

                                    <div class="row" >
                                        <div class="col-lg-1">

                                            <img src="{{ asset('bundles/elevenmx/img/logo.png') }}" class="marque hidden-xs hidden-sm">
                                            <img src="{{ asset('bundles/elevenmx/img/mini-logo.png') }}" class="marque hidden-lg">

                                        </div>

                                        <div class="col-lg-offset-1 col-lg-4" id="projet_ligne_bloc1_aff">
                                            <h4 class="projet_bloc_h4_aff">PROJET : {{ projet.titreProjet }}  </h4>

                                            <h4 class="projet_bloc1_h4_bis_aff">NOM DU PRODUIT : {{ projet.produit }}</h4>
                                        </div>
                                        <div class="col-lg-offset-1 col-lg-4" id="projet_ligne_bloc1_aff">
                                            <h4 class="projet_bloc_h4_aff">NOM DU CLIENT : {{ projet.user }}</h4>

                                            <h4 class="projet_bloc1_h4_bis_aff">NOM DU GRAPHISTE : {{ projet.nomGraphiste }}</h4>
                                        </div>
                                        <div class="col-xs-offset-1 col-sm-2">

                                            <h4 class="projet_bloc_h4_aff"> Date de création : {{ projet.dateCreationProjet }} </h4>
                                        </div>
                                    </div>

                                    <div class="row" >
                                        {% if projet.status == "Attente d'information" %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_red">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET :  {{ projet.status }}</h4>
                                           </div>

                                       {% elseif projet.status == "Maquette a faire" %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_green">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                                           </div>

                                       {% elseif projet.status == "Maquette en attente de validation" %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_red">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                                           </div>

                                       {% elseif projet.status == "Maquette a modifier" %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_green">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                                           </div>

                                       {% elseif projet.status == "Maquette validée" %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_blanc">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                                           </div>

                                       {% elseif projet.status == "Projet terminé"  %}
                                           <div class="col-lg-offset-2 col-lg-7" id="projet_statut_blanc">
                                               <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                                           </div>

                                       {% else %}
                                            <div class="col-lg-offset-2 col-lg-7" >
                                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : Status inconnu</h4>
                                            </div>
                                       {% endif %}

                                        <div class="col-lg-offset-1 col-lg-1" id="projet_ligne_bloc1_aff">
                                            <a href="{{ path('projet_show', { 'id': projet.id }) }}" >
                                                <div>
                                                    <h4 class="projet_bloc_h4_aff"> GERER </h4>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="row" >
                                        <div class="col-lg-offset-2 col-lg-9" style=" margin-top:10px">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                     </div>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
{% block javascripts %}
{% endblock %}