{% extends 'base.html.twig' %}


{% block body %}
    <div class="container-fluid">
        <h4> liste des commentaires coté graphiste </h4>
        <div  class="row">
            <div class="col-sm-offset-3 col-sm-4 projetetnomclient">

                <h4>PROJET : {{ projet.titreProjet }}  </h4>

                <h4>NOM DU CLIENT : {{ projet.user }}</h4>

            </div>
            <div class="col-sm-4 produitnomgraphiste">

                <h4>NOM DU PRODUIT : {{ projet.produit }}</h4>

                <h4>NOM DU GRAPHISTE : {{ projet.nomGraphiste }}</h4>
            </div>

        </div>

        <div class="row">

            <div class="col-sm-offset-3 col-sm-5 statutetdate">

                        {% if projet.status == "Attente d'information" %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_green">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% elseif projet.status == "Maquette a faire" %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_red">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% elseif projet.status == "Maquette en attente de validation" %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_green">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% elseif projet.status == "Maquette a modifier" %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_orange">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% elseif projet.status == "Maquette validée" %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_orange">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% elseif projet.status == "Projet terminé"  %}
                            <div class="col-xs-offset-3 col-xs-7" id="projet_statut_blanc">
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                            </div>

                        {% else %}
                            <div class="col-xs-offset-3 col-xs-7" >
                                <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : Status inconnu</h4>
                            </div>
                        {% endif %}

                <select name="typePaiment" class="col-xs-offset-4">
                    <option selected="selected">{{ projet.status }}</option>
                    <option value="Maquette a faire" class="projet_statut_red_dd">Maquette a faire</option>
                    <option value="Maquette en attente de validation" class="projet_statut_green_dd">Maquette en attente de validation</option>
                    <option value="Maquette a modifier" class="projet_statut_orange_dd">Maquette a modifier</option>
                    <option value="Maquette validée" class="projet_statut_orange_dd">Maquette validée</option>
                    <option value="Projet terminé" class="projet_statut_blanc_dd">Projet terminé</option>
                </select>
            </div>
        </div>
    </div>


    <div class="container-fluid">

        {{ form_start(form) }}

        <div class="row containergrosplan">
            {# boucle qui parcours tous les commentaires afin de déterminer le denier commentaire qui a été saisie
                    id correspondant à la clé est sauvegardé dans une varible nommé maxId                     #}
            {% set maxId = 0 %}
            {% for comment in comment %}
                {% set maxId = max(comment.id, maxId) %}
            {% endfor %}

            <div class="col-sm-offset-1 col-sm-2">
                <div class="cadremarque">
                    <img class="imgshow" src="http://freevectorlogo.net/wp-content/uploads/2011/05/honda-bike-vector-400x400.jpg">
                </div>
                <div class="nomprojetnomgraphiste" >
                    <h4> {{ projet.titreProjet }}  </h4>
                </div>

                <div class="nomprojetnomgraphiste">
                    <h4> {{ projet.nomGraphiste }}</h4>
                </div>
                <div class="cadrerougecommentaireGraph" >

                    {# On on parcours tous les commentaires afin d'afficher le dernier commentaire correspondant à la variable maxId #}
                    {% if comment != null %}
                        {% for comment in comment %}
                            {% if comment.id == maxId %}
                                <p  class ="textcadrerougecommentaire">{{ comment.champsText }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div id="btnBATmodalComm">



                    {#***************** Envoyer le BAT au client ouverture modale ***********#}
                    <div class="boutonjevalideBAT">
                        <a data-toggle="modal" data-target="#myModalBATCommGraph">Envoyer le BAT</a>
                    </div>
                </div>
                {#*****************fin envois du BAT au client ouverture modale ***********#}

                {# *********** modal du graphiste pour laisser le commentaire au client ************* #}
            <form action="{{ path('elevenmx_sendMailGraph') }}" method="POST">
                {{ form_start(form) }}
                    <div class="modal fade" id="myModalBATCommGraph" tabindex="-1" role="dialog" aria-labelledby="myModalLabelBATComm">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">

                                {# cette div c'est le text area commentaire#}
                                <div>
                                    <p class=" myModalLabel">Laisser un commentaire au client.</p>
                                    <div class="champscommentaire">
                                        {{ form_widget(form.champsText,{ 'attr': {'cols': '60', 'rows': '10'} }) }}
                                        {{ form_errors(form.champsText) }}
                                    </div>
                                </div>
                                {# fin div text area commentaire#}


                                <div class="row btnparcourir">
                                    {{ form_widget(form.file) }}{#ça c'est le bouton parcourir#}
                                    {{ form_errors(form.file) }}{#ça c'est le bouton parcourir#}
                                </div>
                                {#ici confirmation de l'envoi du BAT dans la modal#}
                                <div>
                                    <input id="btnsendBATgraph" type="submit" value="Envoyer le BAT" role="button" data-toggle="modalBAT" data-target="modalBAT" />
                                </div>
                                {#ici fin confirmation de l'envoi du BAT dans la modal#}
                            </div>
                        </div>
                    </div>
            </form>
                {{ form_end(form) }}
                {# ****************** fin modal du graphiste pour laisser le commentaire au client ***************** #}


            </div>
            <div class="col-sm-8 containergrosplanGraph">
                {# On on parcours tous les commentaires afin d'afficher la dernière image correspondant à la variable maxId #}
                {% if comment != null %}
                    {% for comment in comment %}
                        {% if comment.id == maxId %}
                            {% if comment.image != NULL %}
                                <img class="imggrosplan" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                            {% else %}
                                <p> Pas d'image envoyée</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </div>



    {{ form_start(form) }}

    <div class="container-fluid container-commentaires">
        <div class="row" >

            <div  class="col-sm-offset-1 col-sm-10">
                <div>
                    {# nous voulons différencier l'affichage du client avec celui du graphiste
                       on defini une variable codeClient qui à pour valeur client#}
                    {% set codeClient = "client" %}

                    {# vérification que la liste des commentaires n'est pas vide#}
                    {% if comment != null %}

                        {# Parcours de tous les commentaires afin d'afficher tous les commentaires et toutes les images sauf le dernier
                           puisque celui est affiché en haut de la page#}
                        {% for comment in comment %}
                            <div class="container-fluid">

                                {# Affichage des informations ne correspondant pas à l'Id sauvegarder#}
                                {% if comment.id != maxId %}
                                    {% if comment.affectation == codeClient %}
                                        <div class="row champstxtcommgraph">

                                            <div class=" col-sm-6">
                                                {% if comment.image != NULL %}
                                                    <!--<p> {{ comment.image }} </p>-->
                                                    <img class="eachimgmin" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                                    <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                                                {% endif %}

                                            </div>

                                            <div class="col-sm-6">
                                                <h4>Date : </h4>
                                                <p>Status </p>
                                                <p class="eachcommentgraph" >{{ comment.champsText }}</p>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="row champstxtcommgraph">

                                            <div class="col-sm-6">
                                                <h4>Date : </h4>
                                                <p>Status </p>
                                                <p class="eachcommentgraph">{{ comment.champsText }}</p>
                                            </div>

                                            <div class="col-sm-6">
                                                {% if comment.image != NULL %}
                                                    <!--<p> {{ comment.image }} </p>-->
                                                    <img class="eachimgmin" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                                    <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% else %}
                        <h4 class="center-align">Pas de commentaire</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('projet_index') }}">Retour a la liste des projets</a>
        </li>
        <li>
            <a href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>
        </li>
        <li>

        </li>
    </ul>
{% endblock %}

{% block javascripts %}
    {# Le fait de mettre un ebalise scrit pour le time out, les modals de bootstrap ne fonctionnait plus
    Cela inible les balises script placés dans le fichier
    Il faut ajouter le twig parent pour qui utilise les balises scrip du fichier base #}
    {{ parent() }}
    <script type="text/javascript">
        window.setTimeout("window.location.reload();",60000);
    </script>

{% endblock %}

