{% extends 'base.html.twig' %}


{% block body %}
    {#{% set varludo = 99 %}#}
    <div class="container-fluid">
        {#<h4> liste des commentaires coté client </h4>#}
        <div class="row">
            <div class="col-xs-2"></div>
        <div class="col-xs-6"> <a href="{{ path('projet_index') }}"><input type="button" value="Retour à la liste" class="bouton4"></a></div>
        </div>

        <div class="col-xs-2"></div>

        <div  class="row">
            <div class="col-sm-offset-3 col-sm-4 projetetnomclient">

                <h4>PROJET : {{ projet.titreProjet }}  </h4>

                <h4>NOM DU CLIENT : {{ projet.user }}</h4>

            </div>
            <div class="col-sm-4 produitnomgraphiste">

                <h4>NOM DU PRODUIT : {{ projet.produit }}</h4>

                <h4>NOM DU GRAPHISTE : {{ projet.nomGraphiste }}</h4>

            </div>

        </div>

        <div class="row nowrap">

            {{ form_start(form) }}
            <div class="col-sm-offset-3 col-sm-5 statutetdate">
                <div class="row" >
                    {% if projet.status == "Attente d'information" %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_red">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : <br />{{ projet.status }}</h4>
                        </div>

                    {% elseif projet.status == "Maquette a faire" %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_green">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                        </div>

                    {% elseif projet.status == "Maquette en attente de validation" %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_red">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                        </div>

                    {% elseif projet.status == "Maquette a modifier" %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_green">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                        </div>

                    {% elseif projet.status == "Maquette validée" %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_blanc">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                        </div>

                    {% elseif projet.status == "Projet terminé"  %}
                        <div class="col-xs-offset-3 col-xs-7" id="projet_statut_blanc">
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : {{ projet.status }}</h4>
                        </div>

                    {% else %}
                        <div class="col-xs-offset-3 col-xs-7" >
                            <h4 class="projet_bloc_h4_aff"> STATUT DU PROJET : Statut inconnu</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-2">

                <h4 class="projet_bloc_h4_aff"> Date de création : {{ projet.dateCreationProjet }}</h4>
            </div>

        </div>
    </div>


    <div class="container-fluid">

        {{ form_start(form) }}

        <div class="row containergrosplan">
            {# boucle qui parcours tous les commentaires afin de déterminer le denier commentaire qui a été saisie
                    id correspondant à la clé est sauvegardé dans une varible nommé maxId                     #}
            {% set maxId = 0 %}
            {% for comment in comment %}
                {% set maxId = max(comment.id, maxId) %}
            {% endfor %}

            <div class="col-sm-offset-1 col-sm-2">
                <div class="cadremarque" >
                    <img class="imgshow" src="http://freevectorlogo.net/wp-content/uploads/2011/05/honda-bike-vector-400x400.jpg">

                </div>
                <div class="nomprojetnomgraphiste" >
                    <h4> {{ projet.titreProjet }}  </h4>
                </div>

                <div class="nomprojetnomgraphiste" >
                    <h4> {{ projet.nomGraphiste }}</h4>
                </div>
                <div class="cadrerougecommentaire" >

                    {# On on parcours tous les commentaires afin d'afficher le dernier commentaire correspondant à la variable maxId #}
                    {% if comment != null %}
                        {% for comment in comment %}
                            {% if comment.id == maxId %}
                                <p class ="textcadrerougecommentaire" >{{ comment.champsText }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>

                {#****************bouton envoyer BAT qui ouvre la modal dans laquelle on valide l'envoi final du BAT ************************#}
                <div id="btnBATmodal">
                        <div class="boutonjevalideBAT">
                            <a data-toggle="modal" data-target="#myModalBAT">Je valide le BAT</a>
                        </div>
                </div>

                <div class="modal fade" id="myModalBAT" tabindex="-1" role="dialog" aria-labelledby="myModalLabelBAT">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title myModalLabel">Votre attention est recquise</h4>
                            </div>
                            <div class="modal-body" style="background-color: red">
                                <p>Nous ne pouvons garantir le rendu des couleurs sur un BAT par internet<br>
                                    Nous vous demandons une vérification très attentive de ce BON A TIRER et ATTIRONS VOTRE ATTENTION sur
                                    le fait que votre validation vous engage dans la réalisation de votre travail dans nos ateliers et
                                    dégage notre responsabilité en cas de contestation ultérieure.</p>

                                {##### ici confirmation de l'envoi du BAT dans la modal #####}
                                <div class="add_button center-align">
                                    <input type="submit" data-dismiss="modal" value="Je valide le BAT" role="button"/>
                                </div>{##### ici fin confirmation de l'envoi du BAT dans la modal #####}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>

                {#*****************fin bouton envoyer BAT qui ouvre la modal dans laquelle on valide l'envoi final du BAT ***********#}



                {#***************** bouton  je NE valide PAS le BAT qui ouvre le champs comm de Ludo***********#}
                <div id="btnBATmodalComm">
                    <!-- <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#myModalBATComm">
                            Je ne valide pas le BAT
                        </button>-->
                    <div class="boutonjenevalidepasBAT">
                        <a data-toggle="modal" data-target="#myModalBATComm">Je NE valide PAS le BAT</a>
                    </div>
                </div>


            </div>
            <div class="col-sm-8 imggrosplan">
                {# On on parcours tous les commentaires afin d'afficher la dernière image correspondant à la variable maxId #}
                {% if comment != null %}
                    {% for comment in comment %}
                        {% if comment.id == maxId %}
                            {% if comment.image != NULL %}
                                <img class="imggrosplan" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                            {% else %}
                                <p> Pas d'image envoyée</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModalBATComm" tabindex="-1" role="dialog" aria-labelledby="myModalLabelBATComm">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                    {# cette div c'est le text area commentaire#}
                    <div>
                        <p class="modal_nevalidepas">Pourquoi ne validez-vous pas le « Bon à tirer » ? <br>Laissez un commentaire à {{ projet.nomGraphiste }}. <br>Vous avez la possibilité d’importer des fichiers pour nous joindre un logo demandé ou une image pour illustrer vos modifications.</p>
                        <div class="champscommentaire">
                        {{ form_widget(form.champsText,{ 'attr': {'cols': '60', 'rows': '10'} }) }}
                        {{ form_errors(form.champsText) }}
                        </div>
                    </div>
                {# fin div text area commentaire#}

                    <div class="row btnparcourir">
                        {{ form_widget(form.file) }}{#ça c'est le bouton parcourir#}
                        {{ form_errors(form.file) }}{#ça c'est le bouton parcourir#}
                    </div>
                    {#ici confirmation de l'envoi du BAT dans la modal#}
                    <div>
                        <input id="btnsendnewBAT" type="submit" value="Envoyer un nouveau BAT" role="button" data-toggle="modalBAT" data-target="modalBAT" />
                    </div>
                    {#ici fin confirmation de l'envoi du BAT dans la modal#}

            </div>
        </div>
    </div>

            {#***************** fin bouton  je ne valide pas le BAT ouvre  le champs comm de Ludo***********#}


    <div class="container-fluid container-commentaires" >
        <div class="row" >

            <div  class="col-sm-offset-1 col-sm-10">
                <div>
                    {# nous voulons différencier l'affichage du client avec celui du graphiste
                       on defini une variable codeClient qui à pour valeur client#}
                    {% set codeClient = "client" %}

                    {# vérification que la liste des commentaires n'est pas vide#}
                    {% if comment != null %}


                            {# Parcours de tous les commentaires afin d'afficher tous les commentaires et toutes les images sauf le dernier
                               puisque celui est affiché en haut de la page#}
                            {% for comment in comment %}
                                <div class="container-fluid">

                                    {# Affichage des informations ne correspondant pas à l'Id sauvegarder#}
                                    {% if comment.id != maxId %}
                                        {% if comment.affectation == codeClient %}
                                            <div class="row eachcommentclient">

                                                <div class=" col-sm-6">
                                                    {% if comment.image != NULL %}
                                                        <!--<p> {{ comment.image }} </p>-->
                                                        <img class="eachimgmin" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                                        <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                                                    {% endif %}

                                                </div>


                                                <div class="col-sm-6">
                                                        <h4>Date : {{ 'now'|date('m/d/Y') }}</h4>

                                                    <p class="champstxtcommclient">{{ comment.champsText }}</p>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="row champstxtcommgraph">

                                                <div class="col-sm-6">
                                                        <h4>Date : </h4>

                                                    <p class="eachcommentgraph">{{ comment.champsText }}</p>
                                                </div>

                                                <div class="col-sm-6">
                                                    {% if comment.image != NULL %}
                                                        <!--<p> {{ comment.image }} </p>-->
                                                        <img class="eachimgmin" src="{{ app.request.basepath }}/uploads/{{ comment.image }}">
                                                        <a href="{{ app.request.basepath }}/uploads/{{ comment.image }}" download="{{ comment.image }}">Télécharger l'image</a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                    {% else %}
                        <h4 class="center-align">Pas de commentaire</h4>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    {#<ul>#}
        {#<li>#}
            {#<a href="{{ path('projet_index') }}">Retour a la liste des projets</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="{{ path('projet_edit', { 'id': projet.id }) }}">Edit</a>#}
        {#</li>#}
        {#<li>#}

        {#</li>#}
    {#</ul>#}
{% endblock %}
 {% block javascripts %}
     {# Le fait de mettre une balise script pour le time out, les modals de bootstrap ne fonctionnait plus
     Cela inible les balises script placés dans le fichier
     Il faut ajouter le twig parent pour qui utilise les balises scrip du fichier base #}
     {{ parent() }}
     <script type="text/javascript">
         window.setTimeout("window.location.reload();",600000);
     </script>

 {% endblock %}

