<h3>You did it! You registered!</h3>


Hi     Nom  {{ mail.nom }}
Prénom {{ mail.prenom }}
Mail {{ mail.mail }}
Téléphone {{ mail.Telephone }}
Entreprise {{ mail.Entreprise }}
Login {{ mail.Login }}
Password {{ mail.Password }}



! You're successfully registered.

