<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Eleven MX{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" media="screen"
              href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/elevenmx/css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('logo_mini.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>



<nav class="navbar navbar-inverse navbar-static-top">


    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">

            <ul class="nav navbar-nav navbar-left">
                <div class="col-xs-1"><img src="{{ asset('bundles/elevenmx/img/mini-logo.png') }}" class="logo_emx"></div>

            </ul>

            <ul class="nav navbar-nav logo_css">
                <li><img src="{{ asset('bundles/elevenmx/img/elevenmx_min.png') }}" id="elevenmx_img"></li>
                <br>
                <li><h1 id="eleven-h1">Spécialiste du kit déco motocross</h1></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <div class="col-xs-1"><a href="{{ path('fos_user_security_logout') }}"
                                         class="glyphicon glyphicon-off" id="log_off"></a></div>
            </ul>
        </div>


    </div>


    <div class="blue">


        <!--  emplacement boutons -->

        {% if is_granted('ROLE_SUPER_ADMIN') %}
        <!-- BOUTON SUPER ADMIN -->
        <div class="col-lg-1 col-xs-1"></div>
        <div class="col-lg-2 col-xs-2"></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('elevenmx_sendMail') }}"><input type="button" value="new client" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('projet_new') }}"><input type="button" value="new projet" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="#"><input type="button" value="new form" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('projet_indexHisto') }}"><input type="button" value="archives" class="bouton4"></a></div>
        <div class="col-lg-1 col-xs-1"></div>

        {% elseif is_granted('ROLE_ADMIN') %}
        <!-- BOUTON ADMIN -->
        <div class="col-lg-1 col-xs-1"></div>
        <div class="col-lg-2 col-xs-2"></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('elevenmx_sendMail') }}"><input type="button" value="new client" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('projet_new') }}"><input type="button" value="new projet" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="#"><input type="button" value="new form" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-2"> <a href="{{ path('projet_indexHisto') }}"><input type="button" value="archives" class="bouton4"></a></div>
        <div class="col-lg-1 col-xs-1"></div>

        {% elseif is_granted('ROLE_GRAPH') %}
        <!-- BOUTON GRAPH -->
        <div class="col-lg-4 col-xs-1"></div>

        <div class="col-lg-2 col-xs-5"> <a href="#"><input type="button" value="archives" class="bouton4"></a></div>
        <div class="col-lg-2 col-xs-5"> <a href="#"><input type="button" value="en cours" class="bouton4"></a></div>
        <div class="col-lg-4 col-xs-1"></div>


        {% elseif is_granted('ROLE_USER') %}
        <!-- BOUTON USER -->
            <div class="col-lg-4 col-xs-2"></div>

            <div class="col-lg-2 col-xs-8"> <a href="{{ path('fos_user_change_password') }}"><input type="button" value="Modifier mon mot de passe" class="bouton4"></a></div>



            <div class="col-lg-4 col-xs-2"></div>



        {% endif %}


    </div>


</nav>


<body>


{% block body %}{% endblock %}

</body>




<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 hidden-sm hidden-xs">
                <p id="float_right">Site réalisé par </p>
            </div>

            <div class="col-lg-4 col-sm-6 col-xs-6">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <a id="btn_logo" role="button" data-toggle="modal" data-target="#myModal"><img
                                src="{{ asset('bundles/elevenmx/img/WCS-logo.png') }}" alt="log_WCS"/></a>
                </div>
                <div class="col-lg-4 hidden-sm hidden-xs"></div>

            </div>


            <div class="col-lg-4 col-sm-6 col-xs-6 txt_footer">
                <!-- Large modal -->
                <a href=".bs-example-modal-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Mentions
                    Légales</a>
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="col-lg-12">
                        <div class="modal-content">

                            <div class="modal-header">

                                <p class="modal_mention">Propriétaire du site : Christophe COISPEAU<br/>Contact mail :
                                    contact@elevenmx.com<br/> Contact téléphonique : 06 27 22 33 60
                                    <br/> Directeur de publication : Christophe COISPEAU <br/> Responsable de
                                    rédaction : Christophe COISPEAU <br/>

                                </p>

                            </div>

                            <div class="modal-body">

                                <p class="modal_mention">
                                    Droits d'auteur-Copyright-Marques<br/>
                                     Le contenu et la présentation du site constituent une œuvre de l'esprit et
                                    bénéficient de la protection accordée par la législation française et
                                    internationale en vigueur sur la propriété intellectuelle et industrielle.
                                    L'exploitation, la reproduction, l'extraction de tout ou partie des données,
                                    fichiers, représentations graphiques, photographiques, numériques ou
                                    audiovisuelles ou de tout élément figurant sur le site ou encore de tout ou
                                    partie du site lui-même sont formellement interdites sans l'accord écrit et
                                    préalable de la société "SARL Eleven MX". Les marques éventuellement citées sur le site sont la
                                    propriété de leurs titulaires respectifs. Collecte des données personnelles
                                    Les informations recueillies sur le formulaire de contact sont nécessaires
                                    pour traiter votre demande d'informations ou pour votre adhésion. Elles font
                                    l’objet d’un traitement informatique et sont destinées au secrétariat de
                                    l’association. En application des articles 39 et suivants de la loi du 6
                                    janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de
                                    rectification aux informations qui vous concernent. Si vous souhaitez
                                    exercer ce droit et obtenir communication des informations vous concernant,
                                    veuillez vous adresser au responsable de magasin. Décharge de responsabilité : le contenu de
                                    ce site web est amené à évoluer régulièrement. Nous déclinons toute
                                    responsabilité concernant l'exactitude, l'exhaustivité et la qualité des
                                    informations offertes. Nous déclinons toute responsabilité pour d'éventuels
                                    dommages, directs ou indirects émanant de l'utilisation des informations
                                    contenues sur le site, dans la mesure où ils ne seront pas provoqués avec
                                    préméditation ou par négligence. Ce site propose des liens vers d'autres
                                    sites web. Aucun contenu illicite n'a été identifié sur les sites liés lors
                                    de la mise en ligne des liens hypertextes. N'ayant aucun moyen
                                    d'intervention sur ces sites, nous déclinons toute responsabilité concernant
                                    leur contenu. Chaque propriétaire de site est responsable du contenu de son
                                    propre site. Les clauses d'exclusion de responsabilité font partie
                                    intégrante du présent site web. Le site et l'ensemble de son contenu sont
                                    soumis au droit français et tout litige éventuel s'y rapportant sera soumis
                                    à la compétence des tribunaux français.

                                    SARL Eleven MX
                                    16 rue de duan
                                    28160 YEVRES - FRANCE
                                    Tél. 06 27 22 33 60
                                    contact@elevenmx.com



                                    RCS CHARTRES 529 552 218
                                    Sarl au capital de 3000 euros
                                    TVA Intracommunautaire : FR75529552218
                                    Responsable de la publication : Christophe COISPEAU
                                </p>


                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default btn_fermer" data-dismiss="modal">
                                    Fermer
                                </button>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Site réalisé par:</h4></div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/maxime-coustes') }}"
                                                     target="_blank" role="button">Maxime</a></div>
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/ludovic-quouillault-787914125') }}"
                                                     target="_blank" role="button">Ludovic</a></div>
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/yannick-le-corre-96019812a') }}"
                                                     target="_blank" role="button">Yannick</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/COUSTES_Maxime.JPG') }}"
                                        alt="Maxime" class="thumbnail eleve"/></div>
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/QUOUILLAUD_Ludovic.JPG') }}"
                                        alt="Ludovic" class="thumbnail eleve"/></div>
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/Le_Corre_Yannick.JPG') }}"
                                        alt="Yannick" class="thumbnail eleve"/></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('http://www.wildcodeschool.fr') }}"
                                                     target="_blank" role="button">contacter l'école</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>

{% block javascripts %}{% endblock %}


</html>


