{% extends 'base.html.twig' %}

   {% block title %} Formulaire Mail nouveau client{% endblock %}

{% block body %}
    <body>
    <br>
    <br>
    <br>


    <!--************************* Formulaire **************************-->

    <form action="{{ path('elevenmx_sendMail') }}" method="POST">
        {{ form_start(form) }}
        <div class="container">
            <div class="row" id="titre">
                <h1>Création d'un nouveau client</h1>
                <div class="col-lg-6 col-xs-12" id="colonegauche">

                    <h4>Nom</h4>
                    {{ form_errors(form.nom) }}
                    {{ form_widget(form.nom) }}
                    <br>
                    <h4>Prénom</h4>
                    {{ form_errors(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                    <br>
                    <h4>Mail</h4>
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                    <br>
                    <h4>Téléphone</h4>
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                    <br>
                    <h4>Entreprise</h4>
                    {{ form_errors(form.entreprise) }}
                    {{ form_widget(form.entreprise) }}
                    <br>
                    <!--************************* contenu du mail dans app/Resources/views/Emails/registration.html.twig **************************-->

                    <!--************************* button and modal  **************************-->

                    <!-- Modal -->
                    <div id="ModalGraphiste" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"> Hey Nico !</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Ton mail a bien été envoyé ;) </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--************************* nos deux champs excentrés  **************************-->

                <div class="col-lg-6 col-xs-12" id="colonedroite">
                    <div class="row">
                        <div class="droite">
                            <h4>Code Utilisateur</h4>

                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username) }}
                            <h4>Mot de passe</h4>

                            {{ form_errors(form.plain_password) }}
                            {{ form_widget(form.plain_password) }}
                        </div>
                    </div>
                </div>

                <!--************************* fin de nos deux champs excentrés  **************************-->

            </div>

            <div class="row" id="titre">

                <button type="submit" class="btn btn-info btn-default" data-toggle="modal" data-target="#ModalGraphiste">Créer</button>
            </div>
        </div>

    </form>
    {{ form_end(form) }}

    <!--************************* end button and modal  **************************-->

    <!--************************* Fin formulaire **************************-->

    </body>
{% endblock %}