{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                <h1>Liste des Produits</h1>
            </div>
        </div>
    </div>

    <div class="container produit">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-2">
                <th>Nom</th>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <th>URL Googleform</th>
            </div>
            <div class="col-sm-offset-1 col-sm-2">
                <th>Actions</th>
            </div>
        </div>
        <div class="row produit">

            <tbody>
            {% for produit in produits %}

                <!--<td style="border: 1px solid black;"><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>-->
                <div class="col-sm-offset-2 col-sm-2">
                    <td>{{ produit.nom }}</td>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <td>{{ produit.googleform }}</td>
                </div>
                <div class="col-sm-offset-1 col-sm-2">
                    <td>
                        <ul>
                            <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Modification</a>
                        </ul>
                    </td>
                </div>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>
    </div>

    <div class="container">
        <div class="row produit_action">
            <div class="col-sm-offset-4 col-sm-4">
                <ul>
                    <a href="{{ path('produit_new') }}">Création d un nouveau produit</a>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
