{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <h1>Liste des Produits list</h1>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-5 col-sm-3">
                <table>
                    <thead>
                        <tr>
                            <!--<th style="border: 1px solid black;">Id</th>-->
                            <th style="border: 1px solid black;">Nom</th>
                            <th style="border: 1px solid black;">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                        <tr>
                            <!--<td style="border: 1px solid black;"><a href="{{ path('produit_show', { 'id': produit.id }) }}">{{ produit.id }}</a></td>-->
                            <td style="border: 1px solid black;">{{ produit.nom }}</td>
                            <td style="border: 1px solid black;">
                                <ul>
                                    <li>
                                        <a href="{{ path('produit_show', { 'id': produit.id }) }}">Visualisation</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('produit_edit', { 'id': produit.id }) }}">Modification</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <ul>
                    <li>
                        <a href="{{ path('produit_new') }}">Création d un nouveau produit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
