{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row produit">
            <div class="col-sm-offset-4 col-sm-4">
                <h1>Création du produit</h1>
            </div>
        </div>
    </div>

    <div class="container">
        {{ form_start(form) }}

        <div class="row produit">
            <div class="col-sm-offset-5 col-sm-2">
                <div>
                    <label class="newformtitreprojet" >{{ form_label(form.nom) }}</label>
                    {{ form_widget(form.nom) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-2">
                <label class="newformtitreprojet" >{{ form_label(form.googleform) }}</label>
                {{ form_widget(form.googleform) }}
            </div>
        </div>

        <div class="row produit">
            <div class="col-sm-offset-5 col-sm-2">
                <div>
                    <input type="submit" value="Création" />
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    <div class="container produit_action">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <ul>
                    <li>
                        <a href="{{ path('produit_index') }}">Retour à la liste</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
