{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/elevenmx/css/login.css') }}">

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        window.setTimeout("window.location.reload();",600000);
    </script>

{% endblock %}


{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <body>

    <!-- header -->
    <header>

        <div class="super-container">
            <div class="logo">
                <img src="http://www.elevenmx.com/skin/frontend/tm_themes/theme741/images/logo.png">
            </div>
            <div class="logoelevenmxmin">
                <img src="http://www.elevenmx.com/skin/frontend/tm_themes/theme741/images/elevenmx_min.png" alt='elevenmx'>
                <h1 id="eleven-h1">Spécialiste du kit déco motocross</h1>
            </div>
        </div>

        <div class="main-menu">
            <div class="container1">

            </div>
        </div>

    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-offset-2 col-xs-6">

                <img class="img" src="{{ asset('bundles/elevenmx/img/livia.jpg') }}" alt="test"  />

            </div>
            <div class="col-xs-2" style="margin-top:10%;">
                <label style="margin-top:10%;margin-left:15%;" for="username">{{ 'Code Client'|trans }}</label>
                <input type="text" class="btn btn-default" id="username" name="_username" value="{{ last_username }}" required="required" />
                </br>
                <label style="margin-top:10%;margin-left:15%;" for="password">{{ 'Mot de Passe'|trans }}</label>
                <input type="password" class="btn btn-default" id="password" name="_password" required="required" />
                </br>
                <input  type="checkbox" id="remember_me" name="_remember_me" value="on" style="margin-top:20%;margin-left:5%;"/>
                <label for="remember_me">{{ 'Se souvenir de moi'|trans }}</label>
                <input style="margin-top:10%;margin-left:15%;" type="submit" class="btn btn-success" id="login" name="_submit" value="{{ 'Se connecter'|trans }}" />
            </div>

        </div>
    </div>

    </body>


</form>


<br >
<br >
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <p id="float_right">Site réalisé par </p>
            </div>

            <div class="col-xs-4">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <a id="btn_logo" role="button" data-toggle="modal" data-target="#myModal"><img
                                src="{{ asset('bundles/elevenmx/img/WCS-logo.png') }}" alt="log_WCS"/></a>
                </div>
                <div class="col-xs-4"></div>

            </div>


            <div class="col-xs-4 txt_footer">
                <!-- Large modal -->
                <a href=".bs-example-modal-lg" data-toggle="modal" data-target=".bs-example-modal-lg">Mentions
                    Légales</a>
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                 aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="col-xs-12">
                        <div class="modal-content">

                            <div class="modal-header">

                                <p class="modal_mention">Propriétaire du site : XXX<br/>Sigle : XXX<br/>Contact mail :
                                    XXX<br/> Contact téléphonique : XXX
                                    <br/> Directeur de publication : XXX <br/> Responsable de
                                    rédaction : XXX <br/> Webmaster : XXX

                                </p>

                            </div>

                            <div class="modal-body">

                                <p class="modal_mention">
                                    Droits d'auteur-Copyright-Marques<br/>
                                     Le contenu et la présentation du site constituent une œuvre de l'esprit et
                                    bénéficient de la protection accordée par la législation française et
                                    internationale en vigueur sur la propriété intellectuelle et industrielle.
                                    L'exploitation, la reproduction, l'extraction de tout ou partie des données,
                                    fichiers, représentations graphiques, photographiques, numériques ou
                                    audiovisuelles ou de tout élément figurant sur le site ou encore de tout ou
                                    partie du site lui-même sont formellement interdites sans l'accord écrit et
                                    préalable du XXX. Les marques éventuellement citées sur le site sont la
                                    propriété de leurs titulaires respectifs. Collecte des données personnelles
                                    Les informations recueillies sur le formulaire de contact sont nécessaires
                                    pour traiter votre demande d'informations ou pour votre adhésion. Elles font
                                    l’objet d’un traitement informatique et sont destinées au secrétariat de
                                    l’association. En application des articles 39 et suivants de la loi du 6
                                    janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de
                                    rectification aux informations qui vous concernent. Si vous souhaitez
                                    exercer ce droit et obtenir communication des informations vous concernant,
                                    veuillez vous adresser au XXX. Décharge de responsabilité : le contenu de
                                    ce site web est amené à évoluer régulièrement. Nous déclinons toute
                                    responsabilité concernant l'exactitude, l'exhaustivité et la qualité des
                                    informations offertes. Nous déclinons toute responsabilité pour d'éventuels
                                    dommages, directs ou indirects émanant de l'utilisation des informations
                                    contenues sur le site, dans la mesure où ils ne seront pas provoqués avec
                                    préméditation ou par négligence. Ce site propose des liens vers d'autres
                                    sites web. Aucun contenu illicite n'a été identifié sur les sites liés lors
                                    de la mise en ligne des liens hypertextes. N'ayant aucun moyen
                                    d'intervention sur ces sites, nous déclinons toute responsabilité concernant
                                    leur contenu. Chaque propriétaire de site est responsable du contenu de son
                                    propre site. Les clauses d'exclusion de responsabilité font partie
                                    intégrante du présent site web. Le site et l'ensemble de son contenu sont
                                    soumis au droit français et tout litige éventuel s'y rapportant sera soumis
                                    à la compétence des tribunaux français.

                                </p>

                            </div>
                            <div class="modal-footer">

                                <button type="button" class="btn btn-default btn_fermer" data-dismiss="modal">
                                    Fermer
                                </button>

                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Site réalisé par:</h4></div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/maxime-coustes') }}"
                                                     target="_blank" role="button">Maxime</a></div>
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/ludovic-quouillault-787914125') }}"
                                                     target="_blank" role="button">Ludovic</a></div>
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('https://fr.linkedin.com/in/yannick-le-corre-96019812a') }}"
                                                     target="_blank" role="button">Yannick</a></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/COUSTES_Maxime.JPG') }}"
                                        alt="Maxime" class="thumbnail eleve"/></div>
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/QUOUILLAUD_Ludovic.JPG') }}"
                                        alt="Ludovic" class="thumbnail eleve"/></div>
                            <div class="col-xs-4"><img
                                        src="{{ asset('bundles/elevenmx/img/Le_Corre_Yannick.JPG') }}"
                                        alt="Yannick" class="thumbnail eleve"/></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-xs-4"><a class="btn btn-default"
                                                     href="{{ asset('http://www.wildcodeschool.fr') }}"
                                                     target="_blank" role="button">contacter l'école</a>
                            </div>
                        </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>