{% extends 'base.html.twig' %}

{% block body %}

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                <h1>Modification d'une Marque</h1>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}

                <img style="height: 200px; width: auto" src="{{ app.request.basepath }}/uploads/{{ marque.image1 }}">

                <input type="submit" value="Modification" />
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>


    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                <ul>
                    <li>
                        <a href="{{ path('marque_index') }}">Retour à la liste</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Suppréssion">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
