{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-5">
                <h1>visualisation d'une Marque</h1>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-5 col-sm-5">
                <table>
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ marque.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ marque.nom }}</td>
                    </tr>
                    <tr>
                        <th>Image</th>
                        <td>{{ marque.image }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px" class="container">
        <div class="row">
            <div class="col-sm-offset-3 col-sm-5">
                <ul>
                    <li>
                        <a href="{{ path('marque_index') }}">Retour à la liste</a>
                    </li>
                    <li>
                        <a href="{{ path('marque_edit', { 'id': marque.id }) }}">Modification</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <input type="submit" value="Suppréssion">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>


{% endblock %}
